.ranking-page{
    background-color: var(--dark-violet-color);
    padding: 4rem 2rem;
}
.ranking{
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 10px;
}
.ranking-header{
    background-color: var(--bright-orange-color);
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}
.ranking-header-header{
    font-family: var(--headers-font-style);
    font-size: 2rem;
}
.ranking-header-paragraph{
    font-family: var(--primary-font-style);
}
.ranking-table{
    font-family: var(--headers-font-style);
    margin-top: 2rem;
    font-size: 1.2rem;

}
.ranking-congratulations{
    margin: 10px;
    padding: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--bright-orange-color, #f6d365), var(--vivid-pink-color, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
.ranking-congratulations:hover { --x: 100%; }
