@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Space+Grotesk:wght@600;700&family=Ubuntu&display=swap');
:root{
    --logo-font-style: Bangers;
    --primary-font-style: Ubuntu;
    --headers-font-style: "Space Grotesk";
    --background-color: rgb(243,242,245);
    --dark-violet-color: rgb(118,26,167);
    --vivid-pink-color: rgb(215,65,209);
    --dark-blue-color: rgb(68,98,180);
    --grass-alike-green-color: rgb(1, 122,71);
    --bright-orange-color: rgb(250,141,38);
    --almost-black-gray-color: rgb(78,76,78);
    --very-gray-color: rgb(121,121,121);
}